body {
    height: 100vh;
    background-color: #f8ecc2 !important;
}

h1 {
    text-align: center;
    padding: 25px 0px 25px 0px;
    text-transform: uppercase;
    color: #ec5a5a;
    font-size: 48px !important;
    font-weight: bolder;
}
textarea {
    width: 100%;
    height: 200px;
    word-wrap: break-word;
    border: none !important;
    box-shadow: 0px 0px 15px gray !important;
    margin-bottom: 20px !important;
    font-size: 18px;
}

p{
    text-align: center;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 0px 8px black;
}
.botoes {
    padding: 0px;
    display: flex;
    justify-content: center;
}
button {
    float: right;
    margin: 5px 0px 5px 15px !important;
    border: none;
    background-color: #ec5a5a;
    box-shadow: 0px 0px 15px gray !important;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    width: 150px;
    height: 44px;
}
button > a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.delete {
    background-color: transparent;
    box-shadow: none !important;
}
.delete svg {
    box-shadow: 0px 0px 15px gray !important;
}

i {
    float: left;
    cursor: pointer;
}
.recado {
    margin: 30px 10px 80px 10px;
}
.content {
    height: 30px;
    overflow: hidden;
    padding: 5px;
    transition: 0.5s ease-in-out;
    color: #92d4a4;
    background-color: white;
    width: 100%;
    margin-bottom: 15px;
}

.content--full {
    height: 100px;
    max-height: auto !important;
    overflow: auto;
}

@media (max-width: 720px) {
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
}
