body{
    background-color: #333333;
    text-align-last: center;
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



h1,h2{
    color: black;
    font-weight: 500;
}